.myself{
    background-color: brown;
    color: white;
    text-align: center;
    border: 5px solid brown;
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
img{
    width: 60%;
}
#heading{
    font-size: 80px;
    
}
p{
    text-align: justify;
}